# Spark DataFrame

## Spark DataFrame Basics

In [ ]:
# import findspark
import findspark

In [2]:
# import os

In [3]:
# java8_location='/usr/lib/jvm/java-8-openjdk-amd64'

In [4]:
# os.environ['JAVA_HOME']=java8_location

In [4]:
spark_location='home/ubuntu/spark-2.4.5-bin-hadoop2.7'

In [5]:
# findspark.init
findspark.init(spark_location)

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [8]:
df = spark.read.json('people.json')

In [9]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.columns

['age', 'name']

In [12]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [13]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [14]:
data_schema = [StructField('age', IntegerType(), True), StructField('name', StringType(), True)]

In [15]:
final_struc = StructType(fields=data_schema)

In [16]:
df = spark.read.json('people.json', schema=final_struc)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
type(df['age']) # Just Column

pyspark.sql.column.Column

In [22]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [24]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [25]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [26]:
df.head(2)[0]

Row(age=None, name='Michael')

In [27]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [28]:
df.select(['age', 'name'])

DataFrame[age: int, name: string]

In [30]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [32]:
df.withColumn('double_age', df['age']*2).show() # not inplace

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [33]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## Using Pure SQL

In [37]:
df.createOrReplaceTempView('people')

In [38]:
results = spark.sql("SELECT * FROM people")

In [39]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [40]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [41]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+